<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th># of comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.comments.count %></td>
        <td><%= link_to 'Show', blog, :class => "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog), :class => "btn btn-success btn-xs" %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create', new_blog_path, :class => "btn btn-warning" %>
