<h1> "Show" Blog</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<hr/>

<div style="float:left">
	<%= render '/comments/form' %>
</div>

<div style="float:right">
	<div>
		<h3>Comments</h3>
		<% @blog.comments.each do |comment| %>
		<span class="btn btn-success btn-xs"
			<strong><%= comment.name %></strong>
			<%= comment.content %>
		</span>
		<% end %>
	</div>

	<div>
		<h3>Tags</h3>
		<% @blog.tags.each do |tag| %>
		<span class="btn btn-info btn-xs">
			<strong><%= tag.name %></strong>	
		</span>
		<% end %>
	</div>
</div> <!-- FLOAT RIGHT -->


<div style="clear:both"></div>

<hr/>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
